[submodule "covid19-group-tests"]
	path = simulation/covid19-group-tests
	url = https://github.com/cleary-lab/covid19-group-tests.git
[submodule "simulation/pbest/PBEST"]
	path = simulation/pbest/PBEST
	url = https://github.com/NoamShental/PBEST.git
